<div class="my-page">
  <p><%= @user.name%>の部屋</p>
  
  
  <div class="my-page__myself">

    <div class="my-page__myself__list">
      <%= link_to "#{@user.name}のプロフィール", edit_user_path, class: "my-page__myself__list--btn" %>
    </div>

    <div class="my-page__myself__list">  
      <%= link_to "#{@user.name}のにっき", "/users/#{current_user.id}/posts" , class: "my-page__myself__list--btn" %>
    </div> 

    <div class="my-page__myself__list"> 
      <%= link_to "#{@user.name}のりぁる", "/users/#{current_user.id}/tweets", class: "my-page__myself__list--btn" %>
    </div>  

  </div>


<div>