<div class="main">
  <h1 class="main-heading">
    <span class="main-heading-primary">WELCOME</span>
    <span class="main-heading-secondary">ROOM FOR YOU</span>
  </h1>
</div>


<div class="content">
  <h1>MY HOME PAGEへようこそ！</h1>
  <p>このサイトは自分でWEBページが作れます！
    ぜひあなただけのホームページを作ってみましょう！！

    まずはユーザー登録を行ってください。
  </p>

  <div class="content__sign">
    さっそくホームページを作る？
  </div>
  
</div>



<footer class="footer">
  <ul>
    <li>関連サイト</li>
    <li>ヘルプ</li>
    <li>お問い合わせ</li>
    <li>アンケート</li>
    <li>利用規約</li>
  </ul>
</footer>