
.user {
  height: 100%;
  width: 100%;
  background-color:#f7f0be;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color: rgba(241, 81, 81, 0.856);
}

.field {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

.actions {
text-align: center;
padding: 30px;

}



a {
  display: block;
  text-align: center;
  font-size: 30px;
  color: rgba(27, 10, 175, 0.753);

}

input[type="submit"] {

  background-color: lightcyan;
  border-radius: 20px;
  color: palevioletred;
  border: 0;
  font-size: 30px;
  padding: 0 80px;
  cursor: pointer;
  border-bottom: 0.1875em solid rgb(177, 243, 255);
  transition: all 0.6s ease 0s;

  &:hover {
    color: red;
    background-color: lighten(gold, 10%);
    border-bottom-color: transparent;
    transform: translateY(0.1875em);
  }
}

//ログイン前---------------------------------------------------

//ログイン後---------------------------------------------------
.my-page {
  height: 100%;
  width: 100%;
  background-color: white;

  p {
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    font-weight: 550;
    color: rgb(3, 217, 255);
    margin-top: 100px;
  }
  &__myself {
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-style: italic;
    

    &__list {
      margin-top: 150px;
     
      &--btn {
        color: rgb(219, 22, 236);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}




