
.user {
  height: 100%;
  width: 100%;
  background-color:#f7f0be;
  
}

h2 {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color: rgba(241, 81, 81, 0.856);
}

.field {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

.actions {
text-align: center;
padding: 30px;

}



a {
  display: block;
  text-align: center;
  font-size: 30px;
  color: rgba(27, 10, 175, 0.753);

}