//header----------------------------------------------------

.header {
  height: 70px;
  width: 100%;
  background-color: rgb(209, 233, 250);
  display: flex;
  justify-content: space-between;
  
  &__title {
    line-height: 70px;
    margin-left: 10px;
    
    &--text {
      text-decoration: none;
      color: navy;
      font-size: 45px;
      font-style: oblique;
      font-weight: bold;
      cursor: pointer;
      transition: all 1s linear 0s;
      display: block;
    
      &:hover {
        transform: rotateX(360deg);
      }
    } 
  }

  &__right {
    margin-right: 10px;
    line-height: 25px;
    display: flex;
    padding: 8px;

    &--in {
     padding: 15px;
     display: block;
     text-decoration: none;
     border: solid 0.5px blue;
     color: black;
     background-color: white;
     margin-right: 5px;
     font-style: italic;
     font-weight: bold;
     font-size: 20px;
    //  border-radius: 20px;
    box-shadow: 0 0 12px 0 blue;
     display: inline-block;
     cursor: pointer;
     transition: all 0.3s ease 0.05s;
    
     &:hover {
      box-shadow: 0 0 10px 0 blue;
      background: black;
      color: white;
     }
    }
    &--up{
     padding: 15px;
     display: block;
     text-decoration: none;
     border: solid 0.5px red;
     color: white;
     background-color: black;
     margin-right: 5px;
     font-style: italic;
     font-weight: bold;
     font-size: 20px;
    //  border-radius: 20px;
     box-shadow: 0 0 12px 0 red;
     display: inline-block;
     cursor: pointer;
     transition: all 0.3s ease 0.05s;
      &:hover {
        box-shadow: 0 0 10px 0 red;
        background: white;
        color: black;
      }
    }
    &--out{
     padding: 15px;
     display: block;
     text-decoration: none;
     border: solid 0.5px blue;
     color: black;
     background-color: white;
     margin-right: 5px;
     font-style: italic;
     font-weight: bold;
     font-size: 20px;
    //  border-radius: 20px;
     box-shadow: 0 0 12px 0 blue;
     display: inline-block;
     cursor: pointer;
     transition: all 0.3s ease 0.05s;
    
     &:hover {
      box-shadow: 0 0 10px 0 blue;
      background: black;
      color: white;
     }
    }
  }
}

//header---------------------------------------------------

//body-----------------------------------------------------

.contents {
  height: 200vh;
  width: 100%;
  background-color: lightcyan;
  position: relative;


  .main {
    position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .main-heading {
    color: #777;
    text-transform: uppercase;
  }

  .main-heading-primary {
    display: block;
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 1s ease-out;
  }

  .main-heading-secondary {
    font-family: sans-serif;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 31px;
    color: hotpink;
    animation: moveInRight 1s ease-out;
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    
    80% {
      transform: translateX(10px);
    }
    
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    
    80% {
      transform: translateX(-10px);
    }
    
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .content {
    height: 900px;
    width: 85%;
    // background-color: blanchedalmond;
    position: absolute;
    top: 30%;
    left: 8%;
    h1 {
      text-align: center;
      font-size: 68px;
      margin-top: 70px;
      font-weight: bold;
      font-style: italic;
      color: deeppink;
    }
    p {
      padding: 80px;
      margin-top: 20px;
      color: rgb(219, 22, 236);
      font-size: 31px;
      font-weight: bold;
      line-height: 30px;
    }
    &__sign {
      text-align: center;
      margin-top: 60px;
     
     
      &--btn {
        background: rgb(3, 217, 255);
        text-decoration: none;
        color: snow;  
        border-radius: 4px;
        padding: 12px;
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        border-bottom: 0.1875em solid rgb(16, 183, 212);
        display: inline-block;  
        cursor: pointer;
        transition: all 0.6s ease 0s;
      
      &:hover {
        border-bottom-color: transparent;
        transform: translateY(0.1875em);
      }
      }
    }
  }
}


//body-----------------------------------------------------








//footer------------------------------------------------

.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(209, 233, 250);
  position: absolute;
  bottom: 0;
  // position: fixed;

  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 50px;
    

    li {
      text-decoration: none;
      color: navy;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      cursor: pointer;
      transition: all 0.5s ease 0s;
        &:hover {
          color: #4CAF50;
        }
    }
  }
}



//footer------------------------------------------------



//user.page---------------------------------------------

.mother {
  height: 100%;
  width: 100%;
  background-color: #f8c8e2;

  &__welcome {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 85px;
    color: rgb(16, 183, 212);
    padding-top: 150px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  }
  &__choice {
    margin-top: 100px;

    .choose {
      text-decoration: none;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
      background-color: rgb(15, 72, 226);
      color: #fff;
      display: inline-block;
      padding: 0.6em 2em;
      margin-top: 100px;
      margin-left: 500px;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        box-shadow: 0 18px 10px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
      }
    }
  }
}






//user.page---------------------------------------------